.modal{
  background-color: rgba(58, 70, 130, 0.49);
  text-align: center;
  backdrop-filter: blur(2px);
padding-top: 4%;

  @media (max-width: 768px) {
    padding-top: 30%;
  }
  .ant-modal-close-x{
    transition: 0.3s ease;
    color: black;
    font-size: 25px;
    background-color: white;
    border-radius: 50%;
    &:hover{
   background-color: black;
      color: white;
      transform: rotate(360deg);
    }

  }

img{
  width: 600px;
  height: 400px;
  @media (max-width: 768px) {
    width: 380px;
    height: 300px;
  }
}
  .modal-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      color: white;
    }

  }
}
